
    .keyboard-open .login-container,
    .login-container {
        padding-top: 250px !important;
    }
}

.login-container::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #fff;
    font-weight: 300;
}

    /* Firefox 19+ */
    color: #fff;
    font-weight: 300;
}

    /* IE 10+ */
    color: #fff;
    font-weight: 300;
}

    /* Firefox 18- */
    color: #fff;
    font-weight: 300;
}

.login-container {
    background-size: cover;
    background-repeat: no-repeat;
    padding: 140px 12px 12px;
}

.login-container .app-name {
    clear: both;
    float: right;
    padding-top: 30px;
}

.keyboard-open #login .scroll {
    height: calc(100% + 200px);
}

#login .scroll {
    height: 100%;
}

#login ion-content.scroll-content.ionic-scroll {
    height: 100% !important;
}

.welcome-container {
    text-align: right;
    width: 70%;
    float: right;
}

.welcome-big {
    font-size: 45px;
    font-weight: 300;
    color: #fff;
    line-height: 1em;
    display: inline-block;
}

.welcome-small {
    font-size: 20px;
    font-weight: 300;
    color: #fff;
    margin-bottom: 10px;
    line-height: 1em;
}

.welcome-logo {
    width: 142px;
    float: right;
}

.welcome-logo img {
    width: 100%;
}

.input-container .label-bar {
    font-size: 16px;
    color: #fff;
    font-weight: 300;
    line-height: 1em;
    padding-left: 10px;
    position: relative;
}

.input-container input {
    background: none !important;
    color: #fff;
    border-bottom: 1px #fff solid;
    width: 100%;
    padding-left: 10px;
    margin-bottom: 2px;
    position: relative;
}

.input-container .label-bar:before {
    content: "";
    width: 1px;
    height: 15px;
    position: absolute;
    left: 0;
    top: -11px;
    background: #fff;
}

.input-container .button-full {
    min-height: 40px;
    height: 40px;
    width: 142px;
    float: right;
    line-height: 1em;
    font-size: 16px;
    font-weight: 300;
}

.remember-container {
    font-size: 15px;
    font-weight: 300;
    color: #fff;
    float: right;
    width: 100%;
    text-align: right;
}

input[type=checkbox].css-checkbox {
    display: none;
}

.remember-container label {
    display: inline-block;
    background: none;
    color: #fff;
    font-weight: 300;
    font-size: 15px;
    border: none;
    text-align: left;
    margin-right: -14px;
}

}

.greentext {
    color: green;
}

.search-input-item {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.item {
    .search-input {
        border: none;
        width: 90%;
        padding-top: 16px !important;
        padding-bottom: 16px !important;
    }

    .ion-forward {
        float: right;
        font-size: 21px;
        padding-top: 16px !important;
        padding-bottom: 16px !important;
    }
}

.sd-button {
    background-color: #11c1f3;
    color: white;
    margin: 0 0 0 18px;
    display: inline-block;
    top: 36px;
    width: calc(100% - 234px);

    span {
        font-size: 22px;
        vertical-align: middle;
        padding-right: 5px;
    }

    img {
        height: 20px;
        vertical-align: middle;
        padding-right: 5px;
    }
}

}

}

}

}

}

}

}

    padding: 0;
}

}

}

}

}

    font-weight: 400;
}

}

}

}

}

}

    color: #fff;
}

}

}

}

}

}

}

}

}

}

}

}

}

}

}

    color: #fff;
}

    color: #fff;
}

}

}

}

}

}

    background-color: #fff;
}

}

}

}

    }
}
