/*LOGIN PAGE*/

.login-container ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #fff;
    font-weight: 300;
}

.login-container ::-moz-placeholder {
    /* Firefox 19+ */
    color: #fff;
    font-weight: 300;
}

.login-container :-ms-input-placeholder {
    /* IE 10+ */
    color: #fff;
    font-weight: 300;
}

.login-container :-moz-placeholder {
    /* Firefox 18- */
    color: #fff;
    font-weight: 300;
}

.keyboard-open .login-container {
    padding-top: 20px;
    height: 100%;
}

.login-container {
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 0px;
    padding: 140px 12px 12px;
}

.login-container .app-name {
    clear: both;
    float: right;
    padding-top: 30px;
    font-size: 40px;
}


/* Change the white to any color ;) */

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.keyboard-open #login .scroll {
    height: calc(100% + 200px);
}

#login .scroll {
    height: 100%;
}

#login ion-content.scroll-content.ionic-scroll {
    height: 100% !important;
}

#login {
    font-family: 'FreightLight';
    background-image: url("../img/image.jpg") !important;
    background-size: cover;
}

#login .scroll-content {
    background-color: transparent;
}

.welcome-container {
    text-align: right;
    width: 70%;
    float: right;
}

.welcome-big {
    font-family: 'FreightLight' !important;
    font-size: 45px;
    font-weight: 300;
    color: #fff;
    line-height: 1em;
    display: inline-block;
}

.welcome-small {
    font-family: 'FreightLight' !important;
    font-size: 20px;
    font-weight: 300;
    color: #fff;
    margin-bottom: 10px;
    line-height: 1em;
}

.welcome-logo {
    width: 142px;
    float: right;
}

.welcome-logo img {
    width: 100%;
}

.login-form {
    width: 80%;
    float: right;
}

.forgot-pass {
    text-align: left;
    padding-left: 20px;
    padding-top: 15px;
}

.input-container .label-bar {
    font-size: 16px;
    color: #fff;
    font-weight: 300;
    line-height: 1em;
    padding-left: 10px;
    position: relative;
}

.input-container input {
    background: none !important;
    color: #fff;
    border-bottom: 1px #fff solid;
    width: 100%;
    padding-left: 10px;
    margin-bottom: 2px;
    position: relative;
    border-radius: 0px !important;
}

.input-container .label-bar:before {
    content: "";
    width: 1px;
    height: 15px;
    position: absolute;
    left: 0;
    top: -11px;
    background: #fff;
}

.input-container .button-full {
    min-height: 40px;
    height: 40px;
    width: 142px;
    float: right;
    line-height: 1em;
    font-size: 16px;
    font-weight: 300;
}

.remember-container {
    font-size: 15px;
    font-weight: 300;
    color: #fff;
    float: right;
    width: 100%;
    text-align: right;
}

input[type=checkbox].css-checkbox {
    display: none;
}

.input-container .label-bar {
    font-size: 16px;
    color: #fff;
    font-weight: 300;
    line-height: 1em;
    padding-left: 10px;
    position: relative;
}

.remember-container label {
    padding-top: 0px;
    padding-bottom: 0px;
    display: inline-block;
    background: none;
    color: #fff;
    font-weight: 300;
    font-size: 15px;
    border: none;
    text-align: left;
    padding-left: 0px !important;
    padding-right: 50px;
    margin-right: -14px;
}

.remember-container .checkbox-icon {
    float: right;
}

.remember-container .checkbox input:before, .remember-container .checkbox-icon:before {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    background: none;
    /*opacity: 0.4;*/
    border: 2px #11C1F3 solid;
}

.checkbox input:checked:before, .checkbox input:checked+.checkbox-icon:before {
    opacity: 1;
    background: #11C1F3;
    border: 2px #11C1F3 solid;
}

.remember-container .item-content.disable-pointer-events {
    margin-top: 15px;
}

.bar.bar-calm {
    border-color: #31475A;
    background-color: #31475A;
    color: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    background-image: none;
}

.bar.bar-dark, .dark-bg {
    background-color: #31475A;
    color: #fff;
    background-image: none;
}

.bar.bar-calm .title {
    color: #fff;
    /*text-align: left;*/
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}

.menu-title {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    left: 0!important;
    right: 0!important;
    text-align: left!important;
}

.menu-content {
    box-shadow: none;
}

.menu-open ion-side-menu {
    box-shadow: 10px 0px 20px rgba(0, 0, 0, 0.19), 6px 0px 6px rgba(0, 0, 0, 0.23);
    z-index: 9999 !important;
}

.item-complex.dark-bg .item-content {
    color: #fff;
    background: #31475A;
    font-size: 16px;
    font-weight: 400;
}

.item-complex.dark-bg a.item-content {
    padding: 0;
}

.project-web-link.dark-bg a.item-content {
    padding: 16px 49px 16px 16px;
}

.dark-border {
    border-bottom: 1px #000 solid;
    border-color: #121d21;
}

.back-arrow {
    font-size: 30px;
    margin-top: -5px;
    float: left;
    margin-right: 10px;
}

.header-prj-text {
    line-height: 1em;
    display: inline-block;
    float: left;
    font-size: 19px;
    width: 100%;
}

.subHeader-form-bar {
    padding: 5px 12px;
    line-height: 35px;
    background-color: #1EBDF4;
    font-size: 19px;
    font-weight: 400;
    border: none;
    border-bottom: 0px !important;
    color: #fff !important;
    width: 100%;
    margin: 0;
}

.subHeader-form-bar a {
    color: #fff !important;
    float: left;
}

.subHeader-form-bar .back-arrow {
    margin-top: 0px;
}

.subHeader-form-bar .header-prj-text {
    line-height: 35px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(100% - 20px);
    float: none;
}

.fieldSet-name {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 5px;
}

.formContent {
    padding: 0px;
    border-radius: 5px;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    margin-right: 2px;
    position: relative;
}

.item-stacked-label {
    background: none;
    color: #fff;
    border: 0 !important;
    padding: 0px !important;
}

.all-label {
    background-color: #11C1F3;
    border-radius: 1px;
    padding: 20px 10px;
    position: relative;
    box-shadow: 10px 0px 20px rgba(0, 0, 0, 0.19), 6px 0px 6px rgba(0, 0, 0, 0.23);
}

.all-label:after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #11C1F3 transparent transparent transparent;
    z-index: 9;
}

.inputLabel, .grey-label {
    background: #e8e8e8;
    line-height: 30px;
    color: #333333;
    font-size: 16px;
    margin: 0 !important;
    padding: 5px 15px;
    position: relative;
    white-space: initial;
}

.inputLabel.checkbox-container:after {
    display: none;
}

.grey-label:after {
    z-index: 99;
}

.grey-label:after, .inputLabel:after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 8px 0 8px;
    border-color: #e8e8e8 transparent transparent transparent;
}

.white-label {
    white-space: initial;
}

.view-list-field-group {
    margin-top: -1px!important;
}

.view-list-field-group li {
    background: #fff;
    padding: 15px;
    color: #a8a8a8;
}

.item-stacked-label.view-field {
    margin-right: 2px;
}

.form-input-white {
    border-radius: 0px !important;
    padding: 15px!important;
    height: 60px!important;
    color: #333333!important;
}

.list-field-group {
    padding: 5px;
}

.list-field-group li {
    background-color: #11C1F3;
    border-radius: 1px;
    padding: 15px 25px;
    position: relative;
    box-shadow: 10px 0px 20px rgba(0, 0, 0, 0.19), 6px 0px 6px rgba(0, 0, 0, 0.23);
    font-size: 18px;
    font-weight: 400;
    border: 0px;
}

.img-sub-header-bar {
    box-shadow: 10px 0px 20px rgba(0, 0, 0, 0.19), 6px 0px 6px rgba(0, 0, 0, 0.23);
}

.img-title {
    background: #1EBDF4;
}

.img-title span {
    color: #fff;
    font-size: 16px;
}

.img-title input {
    background: transparent;
    color: #fff;
    font-size: 14px;
    border-bottom: 1px #fff solid;
}

.img-description span, .img-tag span {
    color: #8e8e8e;
    font-size: 16px;
    font-weight: 400;
}

.img-description textarea, .img-tag input {
    color: #a9a9a9;
    font-size: 14px;
    font-weight: 400;
}

label.item.img-tag {
    padding: 5px 15px;
    border-bottom: 4px #e8e8e8 solid;
}

label.item.img-description {
    border: 0;
}

.list {
    padding-top: 0px;
}

.datetime-picker {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    overflow: hidden;
    /*height: 46px;*/
    font-size: 14px;
    color: #000;
    background-color: #fff;
}

.category-content {
    width: 100%;
    margin-bottom: 30px;
}

.swipe-preview .list .item .item-content {
    animation: swipe-preview .7s;
    animation-delay: .7s;
}

.swipe-preview .list .item .item-options.invisible {
    visibility: visible;
}

@keyframes swipe-preview {
    0% {
        transform: translate3d(0px, 0px, 0px);
    }
    50% {
        transform: translate3d(-63px, 0px, 0px);
    }
    100% {
        transform: translate3d(0px, 0px, 0px);
    }
}

/*new login page css*/

#login-new.pane {
  background-color: #2A2876;
}

#login-new .scroll-content {
  background-color: #2A2876;
  height: 100%
}

#login-new .scroll-content .login-text {
  color: #fff;
  position: relative;
  margin-top: 20px;
  font-size: 22px!important;
  text-align: center;
  font-weight: 600;
  font-family: sans-serif!important;
}

#login-new .scroll-content .login-icon {
  text-align: center;
  margin-top: 20px;
}

#login-new .scroll-content .login-icon img {
  height: 180px;
}

#login-new .scroll-content form {
  margin-top: 20px;
  text-align: -webkit-center;
}

#login-new .scroll-content form div input {
  width: 80%;
  height: 48px!important;
  border-radius: 7px;
  margin-bottom: 5px;
  color: #2A2876!important;
  font-size: 20px!important;
  padding-left: 20px!important;
  font-weight: 600;
}

#login-new .scroll-content form div input::-webkit-input-placeholder {
  color: #2A2876;
  font-size: 20px;
  font-weight: 600!important;
  vertical-align: middle;
}

#login-new .scroll-content .login-buttons {
  width: 80%;
  height: 48px;
}

#login-new .scroll-content .login-buttons button {
  height: 48px;
  width: 49%;
  color: #fff;
  font-weight: 600;
  font-size: 16px!important;
  border: none;
  font-family: sans-serif!important;
}

#login-new .scroll-content .login-buttons .forgot-button {
  float: left;
  background-color: #2A2876;
}

#login-new .scroll-content .login-buttons .login-button {
  float: right;
  background-color: #70B5DF;
  border-radius: 7px;
}

#login-new .scroll-content .login-remember {
  margin-top: 20px;
  margin-left: 6%;
}

#login-new .scroll-content .login-remember label {
  background-color: #2A2876;
  border-color: #2A2876;
  color: #fff;
}

#login-new .scroll-content .login-remember label .item-content {
  padding-top: 6px;
}

#login-new .scroll-content .login-remember label .checkbox i::before {
  border-radius: 7px!important;
  height: 35px;
  width: 35px;
  background: #fff;
  border: 2px #fff solid;
}

#login-new .scroll-content .login-remember label .checkbox-icon::after {
  border: 3px solid #70B5DF;
  border-top: 0;
  border-right: 0;
  height: 10px;
  width: 22px;
}

#login-new .scroll-content .login-remember label .item-content span {
  font-weight: 600;
  font-size: 22px!important;
  font-family: sans-serif!important;
  margin-left: 16%;
}
