@media all and (min-width: 480px) and (max-width: 769px) {
    .login-form {
        width: 60%!important;
        float: right;
    }

    .login-container,
    .keyboard-open .login-container {
        padding-top: 250px;
    }

}
@media all and (min-width: 320px){
    .category-row .pp-icon {
        padding: 10px;
    }
}
@media all and (max-width: 320px){
    .category-content-abs{
        padding-top: 8%;
    }
}

@media (min-width: 680px) {
    .ionic_datepicker_modal_content {
        padding-top: 0;
    }
    .ionic_datepicker_modal_content .selected_date_full {
        font-size: inherit;
    }
    .ionic_datepicker_modal_content .selected_date_full {
        padding: 10px 0 0 0;
    }
}

@media (max-width: 680px) {
    .active .modal-backdrop-bg {
        opacity: .5;
        transition: opacity 300ms ease-in-out;
        background-color: #000;
    }
}
