@font-face {
    font-family: 'RobotoCondensed';
    src: url("../fonts/Roboto-Condensed.ttf");
}

@font-face {
    font-family: 'FreightLight';
    src: url("../fonts/FreigSanLig.otf");
}

* {
    font-family: 'RobotoCondensed', sans-serif !important;
}

.popup-head {
    background-color: #1EBDF4;
}

.popup-buttons .button-positive {
    border-color: #1EBDF4;
    background-color: #1EBDF4;
    color: #000;
}

.popup-buttons .ion-person-add {
    color: #444;
    font-size: 22px;
}

textarea {
    resize: none;
    overflow: hidden;
}

.login-logo {
    margin-top: 50px;
}

.login-logo img {
    width: 100%;
}

.category-icon {
    left: 10px;
    color: #FFF;
    background-color: #11C1F3;
    border: 2px solid #FFF;
    border-radius: 100%;
    font-size: 16.5vw;
    padding: 3.5vw;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
}

.category-item {
    margin-left: auto;
    margin-right: auto;
    width: 27vw;
}

.pp-icon {
    text-align: center;
    text-decoration: none;
    min-height: 30vw;
}

.pp-icon h2 {
    margin-top: 5vw;
    font-size: 4vw;
    color: #0F487B;
}

.test-item {
    color: #fff !important;
    background-color: #1EBDF4;
    font-size: 19px;
    font-weight: 400;
    padding: 13px 12px;
    background-image: none;
}

.form-item {
    background-color: #02296B;
    color: white;
    padding: 2px 5px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.form-item-header {
    background-color: #245985;
    color: white;
    padding: 16px;
}

.all-view-bg {
    background-color: #31475A;
}

.form-item-header i, .form-item-header a {
    font-size: 20px;
    float: right;
    padding-left: 20px;
}

.form-item-header p {
    color: #fff;
    font-size: 12px;
}

.register-field {
    border: none;
    padding: 10px 0px;
    margin-left: 6px
}

.register-field-value {
    font-weight: bold;
}

.item-complex.dark-bg .item-content {
    background-color: #444;
    color: #fff;
}

.all-field-header .item-content {
    background-color: #11C1F3!important;
    border-color: #11C1F3!important;
    border-radius: 5px!important;
    position: relative;
    color: #fff!important;
    z-index: 9001;
    width: 100%;
    padding: 10px 10px!important;
}

.all-field-header {
    background-color: #11C1F3!important;
    border-color: #11C1F3!important;
    border-radius: 5px!important;
    margin-bottom: 5px!important;
    padding: 10px 10px!important;
    position: relative;
    color: #fff!important;
    box-shadow: 10px 0px 20px rgba(0, 0, 0, 0.19), 6px 0px 6px rgba(0, 0, 0, 0.23);
    z-index: 9001;
    width: 100%;
}

.isOpen+.blue-dropArrow, .view-item-blue+.blue-dropArrow {
    display: block;
}

.blue-dropArrow {
    display: none;
    position: relative;
    top: -5px;
    left: 10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #11C1F3 transparent transparent transparent;
    z-index: 9001;
    margin-bottom: -15px;
}

.all-field-header.isOpen, .view-item-blue {
    border-bottom-right-radius: 0px!important;
    border-bottom-left-radius: 0px!important;
}

.all-field-header.isOpen+.blue-dropArrow+.formContent .inputLabel {
    padding-top: 20px;
}

.all-field-description {
    font-size: 14px;
    font-weight: 400;
    display: block;
    color: #fff;
    white-space: normal;
}

.all-description {
    font-size: 14px;
    font-weight: 400;
    display: block;
    color: #a8a8a8;
    white-space: normal;
    line-height: 1;
}

.all-name {
    font-size: 16px;
    font-weight: 400;
    display: block;
    color: #8e8e8e;
    white-space: normal;
    line-height: 1;
    margin: 5px 0;
}

.all-label {
    display: block;
    /*white-space: pre-wrap;*/
}

.all-padding-topbot {
    padding-top: 16px;
    padding-bottom: 16px
}

.all-padding-leftright {
    padding: 0;
}

.all-chevron {
    color: #fff !important;
    margin-top: 2px;
    font-size: 18px;
    text-align: right;
}

.add-pic-icon {
    height: 35px;
    float: right;
    display: inline-block;
    margin-right: 25px;
}

.mr-0 {
    margin-right: 0!important;
}

.add-pic-text {
    line-height: 35px;
    font-size: 18px;
}

.all-checkbox {
    left: auto !important;
    right: 8px !important;
}

.all-checkbox-border {
    border-top: 2px solid #245985 !important;
}

.all-radio {
    border-color: #387EF5;
}

.all-sketch {
    width: 100%;
    height: 100%;
}

.all-button-bar {
    margin-top: -5px;
}

.Absolute-Center {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    min-height: 490px;
    max-height: 490px;
}

.all-sketch-icon {
    font-size: 25px;
}

.all-button {
    margin: 10px 0px;
}


/* Empty. Add your own CSS if you like */

.timePickerColon {
    padding-top: 40px;
    text-align: center;
    font-weight: bold;
}

.timePickerArrows {
    width: 100%;
    margin-left: 10px;
}

.timePickerBoxText {
    text-align: center;
    border: 1px solid #dddddd !important;
}

.bar.bar-stable, .tabs {
    box-shadow: 0 0 5px #555;
}

.overflowShow {
    white-space: normal !important;
}

.selected_date_full {
    color: #387EF5;
    font-weight: bold;
    text-align: center;
    padding-bottom: 5px;
}

.color_blue {
    color: rgb(56, 126, 245) !important;
}

.bg_color_blue {
    background-color: rgb(56, 126, 245);
}

.date_col:hover {
    background-color: rgba(56, 126, 245, 0.5);
    cursor: pointer;
}

.date_col:active {
    background-color: rgba(56, 126, 245, 1);
    cursor: pointer;
}

.no_padding {
    padding: 0;
}

.date_cell {
    padding: 5px;
}

.date_selected {
    background-color: rgba(56, 126, 245, 1) !important;
}

.today {
    background-color: rgba(186, 186, 186, 1);
}

.pointer_events_none {
    pointer-events: none !important;
    color: #AAAAAA;
}

.select_section {
    padding: 0;
}

.select_section label {
    padding: 12px;
}

.select_section select {
    font-size: 12px;
    font-weight: bold;
    padding: 2px 10px;
    direction: ltr;
    left: 0;
    width: 100%;
    max-width: 100%;
}

.select_section .item-select:after {
    right: 4px;
    border-top: 4px solid;
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-left: 4px solid rgba(0, 0, 0, 0);
}

.left_arrow {
    direction: rtl;
}

.right_arrow {}

.ionic_datepicker_modal_content .selected_date_full {
    font-size: 20px;
}

.font_22px {
    font-size: 22px;
}

.ionic_datepicker_modal_content {
    padding-top: 10%;
}

.ionic_datepicker_modal_content .selected_date_full {
    padding: 20px;
}


/* back */

.modal-time {
    height: 255px;
    min-height: 0px;
}

.modal-time .row {
    padding: 20px 0px;
}

.reg {
    display: inline-block;
}

.item-nopadding {
    padding: 16px 0px;
}

.all-header-tabs {
    padding-bottom: 60px;
}

.loading-container {
    opacity: 1;
    background-color: rgb(237, 240, 241);
}

.all-spinner {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 85px;
    text-align: center;
}

.all-spinner svg {
    margin-top: 55%;
    width: 15vw !important;
    height: 45vW !important;
}

.all-ion {
    color: #555;
    width: 100%;
    margin-top: 43vw;
    font-size: 60vw;
    margin-bottom: -30px;
}

.all-ion-text {
    color: #555;
    font-size: 6vw;
}

.all-itemlist {
    padding: 2px 4px 4px 4px;
}

.all-checkboxlist-item {
    display: block;
}

.all-header-details {
    color: #fff;
    font-size: 19px;
    font-weight: 400;
}

.pp-whitespace {
    white-space: pre-line;
}

.all-field-repeat {
    position: absolute;
    z-index: 10;
    right: -1px;
    top: 1px;
    padding: 8px 11px 6px;
    background-color: #11C1F3;
}

.help {
    position: absolute;
    z-index: 9999;
    background-color: #fff;
    padding: 6px 10px;
    margin-left: 5px;
    margin-top: 25px;
}

.more-margin {
    margin-left: 25px;
}

.more-margin input {
    margin-left: 25px;
}

.all-req:after {
    content: '*';
    color: red;
}

.all-reqemail:after {
    content: '(email)';
    color: #191919;
    font-size: 10px;
    margin-left: 5px;
}

.pp-addimg {
    border: 1px solid #E5F4FD;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.pp-adding-left {
    margin-left: 55px;
    background-color: red;
}

.img-box {
    /*    width: 25vw;
            height: 25vw;*/
    width: 95px;
    height: 95px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    position: relative;
    border: 0;
}

.img-box img {
    height: 100%;
    position: absolute;
}

.img-box button {
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    z-index: 99;
    right: 0px;
    padding: 5px 12px;
    background: rgba(51, 51, 51, 0.6);
    color: #fff;
    border: none;
}

.testx {
    width: 100px;
    min-width: 100px;
    height: 100px;
    min-height: 100px;
    background-color: red;
}

.fixDisplay {
    padding-top: 1.5em;
}

.fixDisplay .category-icon {
    font-size: 3.5em;
    padding: 0.3em;
}

.fixDisplay .pp-icon h2 {
    margin-top: 1.3em;
    font-size: 1.1em;
}

.bar-hide .bar-subheader {
    position: absolute;
    top: -100px;
    opacity: 0;
    /*display: none;*/
    -webkit-transition: 0.8s ease-in-out;
    -moz-transition: 0.8s ease-in-out;
    -ms-transition: 0.8s ease-in-out;
    -o-transition: 0.8s ease-in-out;
    -webkit-transform: translateZ(0);
}

.bar-hide .scroll-content {
    top: 0px !important;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
}

.bar-helper .scroll-content {
    padding-bottom: 50px;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
}

.bar-subheader {
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
}

.has-subheader {
    top: 88px;
}

.all-itemlist .item {
    height: 60px;
    padding: 5px 10px;
    margin-bottom: 5px;
    border-radius: 2px;
    border-bottom: 0px;
    border-left: 4px #1EBDF4 solid;
}

.form-name {
    font-size: 18px;
    color: #333;
    margin-bottom: 5px;
    font-weight: 400;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.form-code, .blue-label {
    border-radius: 4px;
    background-color: #1EBDF4;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
    padding: 2px 5px;
    line-height: 1;
}

.label-right {
    float: right;
    background-color: #31475A;
}

ion-refresher {
    color: #fff;
}

.tabs-calm>.tabs, .tabs.tabs-calm {
    border-color: #31475A;
    background-color: #31475A;
    background-image: none;
}

.formTitle {
    float: left;
    padding: 10px 5px 10px 8px;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;
}

.formTitle .blue-label {
    margin-top: 10px;
    float: left;
}

.formTitle .header-prj-text {
    width: 100%;
}

.checkbox-container {
    background: #fff!important;
    padding: 5px 50px 15px 0!important;
}

.no-shadow {
    box-shadow: 0!important;
}

.item-stacked-label textarea, .item-stacked-label input[type='date'], .item-stacked-label input[type='time'], .item-stacked-label input[type='number'], .item-checkbox {
    padding: 15px;
    height: auto;
    border-radius: 0!important;
}

.item-stacked-label .input-label, .item-stacked-label .icon {
    color: #fff;
}

.checkbox input:before, .checkbox .checkbox-icon:before {
    border-color: #11C0F2;
}

.white-bgd {
    background-color: #fff;
    text-align: center;
}

.images-container {
    background: #31475A;
    border: 0;
}

.save-img-btn {
    color: #fff;
    float: right;
    display: inline-block;
    font-size: 19px;
    font-weight: 400;
}

.inputLabel.checkbox-container {
    padding-bottom: 0px!important;
}

.white-placeholder {
     ::-webkit-input-placeholder {
        color: #fff;
    }
     :-moz-placeholder {
        /* Firefox 18- */
        color: #fff;
    }
     ::-moz-placeholder {
        /* Firefox 19+ */
        color: #fff;
    }
     :-ms-input-placeholder {
        color: #fff;
    }
}

.item-remove-padding .item-content {
    padding: 5px 10px;
    height: 100%;
}

.active-tab {
    background-color: #1EBDF4
}

.header-title {
    left: 57px;
}
