<!--text-->
<label for="{{hash}}" class="item item-input item-stacked-label calm-border"
       ng-class="{required: data.required}" ng-if="data.type == 'text'">
    <div class="inputLabel">
        <span class="all-name" ng-class="{'all-req' : data.required }">{{data.name}}</span>
        <span class="all-description">{{data.guidance}}</span>
    </div>
    <input class="form-input-white" input id="{{hash}}" type="text" name="{{data.name}}"
           ng-model="data.value" value="{{data.default}}"
           placeholder="{{data.placeholder|| 'input here'}}"
           ng-required="data.required"><strong></strong>
</label>

<!--text area-->
<label for="{{hash}}" class="item item-input item-stacked-label calm-border"
       ng-class="{required: data.required, 'has-error': data.errors.length}"
       ng-if="data.type == 'textarea'">

    <div class="inputLabel">
        <span class="all-name" ng-class="{'all-req' : data.required }">{{data.name}}</span>
        <span class="all-description">{{data.guidance}}</span>
    </div>
    <textarea ng-auto-expand id="{{hash}}" type="text"
              ng-model="data.value" placeholder="{{data.placeholder|| 'insert here'}}"
              ng-required="data.required">{{data.value}}</textarea><strong></strong>
</label>

<!--password-->
<label for="{{hash}}" class=" item item-input item-stacked-label calm-border"
       ng-class="{required: data.required, 'has-error': data.errors.length}"
       ng-if="data.type == 'password'">

    <div class="inputLabel">
        <span class="all-name" ng-class="{'all-req' : data.required }">{{data.label}}</span>
        <span class="all-description">{{data.description}}</span>
    </div>
    <input input id="{{hash}}" type="password" name="{{data.name}}"
           ng-model="data.value" value="{{data.value}}" placeholder="{{data.placeholder}}"
           ng-required="data.required"/><strong></strong>
</label>

<!--select-->
<label class="item item-input item-stacked-label calm-border"
       ng-class="{required: data.required, 'has-error': data.errors.length}"
       ng-if="data.type == 'select'">

    <div class="inputLabel">
        <span class="all-name" ng-class="{'all-req' : data.required }">
            {{data.name}}
        </span>
        <span class="all-description">{{data.guidance}}<br>Please select</span>
    </div>
    <select class="form-select" input id="{{hash}}" ng-model="data.value"
            ng-init="data.value = data.default_value"
            ng-options="option.value as option.name for option in data.option_designs">
    </select><strong></strong>
</label>

<!--email-->
<label for="{{hash}}" class="item item-input item-stacked-label calm-border"
       ng-class="{required: data.required, 'has-error': data.errors.length}"
       ng-if="data.type == 'email'">

    <div class="inputLabel">
        <span class=" all-name" ng-class="{'all-req' : data.required }">{{data.name}}</span>
        <span class="all-description">{{data.guidance}}</span>
    </div>
    <input input id="{{hash}}" type="email" name="{{data.name}}"
           ng-model="data.value" value="{{data.default}}" placeholder="{{data.placeholder|| 'insert here'}}"
           ng-required="data.required"><strong></strong>
</label>

<!--number-->
<label for="{{hash}}" class="item item-input item-stacked-label calm-border"
       ng-class="{required: data.required, 'has-error': data.errors.length}"
       ng-if="data.type == 'number'">

    <div class="inputLabel">
        <span class="all-name" ng-class="{'all-req' : data.required }">{{data.name}}</span>
        <span class="all-description">{{data.guidance}}</span>
    </div>
    <input input id="{{hash}}" type="number" name="{{data.name}}"
           ng-model="data.value" value="{{data.default_value}}" placeholder="{{data.placeholder|| 'insert here'}}"
           ng-required="data.required"><strong></strong>
</label>


<!--radio-->
<div ng-if="data.type == 'radio'" class="calm-border">

    <div class="inputLabel">
        <div class="all-name" ng-class="{'all-req' : data.required }">{{data.name}}
        </div>
        <span class="all-description">{{data.guidance}}</span>
    </div>
    <label class="item item-checkbox all-padding-leftright" ng-repeat="box in data.option_designs">
        <span class="item-content">{{box.name}}</span>
        <span class="checkbox all-checkbox">
            <input input type="radio" ng-model="data.value" value="{{box.value}}"
                   ng-required="data.required" name="{{hash}}">
        </span>
    </label>
</div>

<!--check box-->
<div class="calm-border" ng-if="data.type == 'checkbox'">
    <label class="item item-checkbox all-padding-leftright">

        <div class="inputLabel checkbox-container">
            <span class="all-name" ng-class="{'all-req' : data.required }">{{data.name}}</span>
            <span class="all-description">{{data.guidance}}</span>
        </div>

        <span class="checkbox all-checkbox">
            <input input id="{{hash}}" type="checkbox" name="{{data.name}}" ng-model="data.value"
                   value="1" ng-required="data.required">
        </span>
    </label>
</div>

<!--check box list-->
<div ng-if="data.type == 'checkbox_list'">
    <div class="inputLabel">
        <span class="all-name" ng-class="{'all-req' : data.required }">{{data.name}}</span>
        <span class="all-description">{{data.guidance}}</span>
    </div>
    <label class="item item-checkbox all-padding-leftright" ng-repeat="box in data.option_designs">
        <span class=""
              >{{box.name}}</span>
        <span class="checkbox all-checkbox">
            <input input id="{{hash}}" type="checkbox" name="{{box.name}}" ng-model="box.value"
                   value="1" ng-required="data.required">
        </span>
    </label>
</div>

<!--signature-->
<div for="{{hash}}" class="item item-input item-stacked-label signature calm-border"
     ng-if="data.type == 'signature'">

    <div class="inputLabel">
        <span class="all-name" ng-class="{'all-req' : data.required }">{{data.name}}</span>
        <span class="all-description">{{data.guidance}}</span>
    </div>
    <div class="white-bgd">
        <img ng-if="data.value" ng-src="{{data.value}}" alt="signature">
    </div>
    <a class="insert-sig"
       ng-click="directiveClick(hash)">{{data.value ? "Edit signature" : "Insert signature"}}</a>
</div>

<!--date-->
<div for="{{hash}}" class="item item-input item-stacked-label calm-border"
     ng-class="{required: data.required, 'has-error': data.errors.length}"
     ng-if="data.type == 'date'" >

    <div class="inputLabel">
        <span class="all-name" ng-class="{'all-req' : data.required }">{{data.name}}</span>
        <span class="all-description">{{data.guidance}}</span>
    </div>
    <!--    <input input id="{{hash}}" type="date" name="{{data.name}}"
               ng-model="data.value" value="{{data.default_value}}" placeholder="{{data.placeholder}}"
               ng-required="data.required">-->

    <div ng-required="data.required" ion-datetime-picker date ng-model="data.value" month-step="1" hour-step="1" minute-step="1" second-step="1" class="datetime-picker">
        <input type="text" date='dd-MM-yyyy' ng-model="data.value" style='padding: 15px;' placeholder="tap here to input date"><strong></strong>
    </div>


</div>

<!--time-->
<div for="{{hash}}" class="item item-input item-stacked-label calm-border"
     ng-class="{required: data.required, 'has-error': data.errors.length}"
     ng-if="data.type == 'time'">

    <div class="inputLabel">
        <span class="all-name" ng-class="{'all-req' : data.required }">{{data.name}}</span>
        <span class="all-description">{{data.guidance}}</span>
    </div>
    <!--    <input input id="{{hash}}" type="time" name="{{data.name}}"
               ng-model="data.value" value="{{data.default_value}}" placeholder="{{data.placeholder}}"
               ng-required="data.required">-->

    <div ng-required="data.required" ion-datetime-picker time ng-model="data.value" month-step="1" hour-step="1" minute-step="1" second-step="1" class="datetime-picker">
        <!--        {{data.value| date: "H:mm"}}-->
        <input type="text" date='HH:mm' ng-model="data.value" style='padding: 15px;' placeholder="tap here to input time"><strong></strong>
    </div>

</div>

<!--test
<div for="{{hash}}" class="item item-input item-stacked-label signature calm-border" ng-if="data.type == 'test'"  ng-model="data.value">
    <div>{{data.value}}</div>
    ng-click="modalfieldid(data.field_group_design_id, data.id) ; show()"
    <a class="button button-calm button-outline all-button" ng-click="directiveClick()" >TEST</a>
</div>-->
