<script>
    var myCanvas = document.getElementById($scope.hash);
    var ctx = myCanvas.getContext('2d');
    ctx.clearRect(0, 0, myCanvas.width, myCanvas.height);
</script>
<ion-modal-view class="Absolute-Center" cache-view="false">
    <ion-header-bar class="bar bar-header bar-calm">
        <h3 class="title" style="text-align: center">Signature</h1>
    </ion-header-bar>
    <ion-content class="has-header" scroll="false">
        <form class="signature-form" name="x" data="value">
            <canvas id="{{hash}}" class="all-sketch" width="340" height="340" input ng-model="value" ng-required="data.required" sketch></canvas>
        </form>
        <div class="button-bar" style="margin-top:-1%;height:10.5%">
            <a class="button button-calm button-outline" sketch-erase="{{hash}}"  ng-click="erase()">Clear</a>
            <a class="button button-calm button-outline" ng-click="save()">Save</a>
        </div>
    </ion-content>
</ion-modal-view>
