<div class="list" ng-show="filter.substate === 'gallery'">
    <div ng-if="imgURI.length === 0 || !imgURI" style="text-align: center; padding-top:30vw">
        <span class="all-ion-text" style="line-height: 15vw;font-size: 15vw; color:#4A6780">No images assigned</span>
    </div>
    <div ng-if="imgURI.length !== 1 || imgURI[0].base64String">
        <div class="row" ng-repeat="pic in imgURI" ng-if="$index % 2 === 0">
            <div class="col col-50" ng-if="$index < imgURI.length" ng-click="testPicture(imgURI[$index]); ">
                <div style="max-height: 50vw;overflow: hidden;" class="pull-down">
                    <img ng-src="{{imgURI[$index].url}}" ng-if="imgURI[$index].url" width="100%;-ms-transform: scale(0.3,0.3);-webkit-transform: scale(0.3,0.3); transform: scale(0.3,0.3);" />
                    <img data-ng-src="data:image/png;base64,{{imgURI[$index].base64String}}" ng-if="!imgURI[$index].url" width="100%;-ms-transform: scale(0.3,0.3);-webkit-transform: scale(0.3,0.3); transform: scale(0.3,0.3);" />
                </div>
                <div>
                    <button class="button button-assertive" ng-click='removePicture()' style=" min-height: auto;line-height: 30px;font-size: 15px;width: 100%;margin-top: 5px; padding: 0px;">Remove</button>
                </div>
            </div>
            <div class="col col-50" ng-if="$index + 1 < imgURI.length" ng-click="testPicture(imgURI[$index + 1]);">
                <div style="max-height: 50vw;overflow: hidden;" class="pull-down">
                    <img ng-src="{{imgURI[$index].url}}" ng-if="imgURI[$index + 1].url" width="100%;-ms-transform: scale(0.3,0.3);-webkit-transform: scale(0.3,0.3); transform: scale(0.3,0.3);" />
                    <img data-ng-src="data:image/png;base64,{{imgURI[$index + 1].base64String}}" ng-if="!imgURI[$index + 1].url" width="100%;-ms-transform: scale(0.3,0.3);-webkit-transform: scale(0.3,0.3); transform: scale(0.3,0.3);" />
                </div>
                <div>
                    <button class="button button-assertive" ng-click='removePicture()' style=" min-height: auto;line-height: 30px;font-size: 15px;width: 100%;margin-top: 5px; padding: 0px;">Remove</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="list" ng-show="filter.substate === 'pic'">
    <div style="padding-bottom: 80px">
        <img ng-show="filter.picture.url" ng-src="{{filter.picture.url}}" style="width:100%;-webkit-user-drag: inherit;">
        <img ng-show="!filter.picture.url" data-ng-src="data:image/png;base64,{{filter.picture.base64String}}" style="width:100%;-webkit-user-drag: inherit;">
        <div class="list" style="background-color:#fff;">
            <label class="item item-input item-stacked-label white-placeholder" style="background-color: #11C1F3">
                <span class="input-label" style="padding:10px 15px 0px ;">Title</span>
                <input type="text" style="background-color: #11C1F3; color:#fff;" ng-model="filter.picture.title">
            </label>
            <label class="item item-input item-stacked-label" style="border-bottom: 1px solid #efefef">
                <span class="input-label" style="color: #121d21 ; padding:10px 15px 0px ;" >Tags</span>
                <textarea ng-auto-expand ng-model="filter.picture.tags"></textarea>
            </label>
            <hr>
            <label class="item item-input item-stacked-label" style="border-bottom: 1px solid #aaa">
                <span class="input-label" style="color: #121d21; padding:10px 15px 0px ;" >Comments</span>
                <textarea ng-auto-expand ng-model="filter.picture.comment"></textarea>
            </label>
        </div>
    </div>
</div>
