<div class="list" ng-if="!filter.substate">
    <form class="form-new-fields">
        <ion-list show-delete="data.showDelete">
            <ion-item ng-repeat="resource in resourceField.resources" item="resource" class="item-remove-animate" ng-click="goState('resource', resource)">
                <!-- <span class="badge" style="float:left;position:static;margin-right: 5px;margin-left: -10px;background-color: #11C1F3;color:#fff">{{$index + 1}}</span> -->
                <span ng-if="!resource.name">Resource {{$index + 1}}</span>
                <span ng-if="resource.name">{{resource.name}} </span>

                <div class="item-subtotal">
                    <span> {{resource.quantity}} </span>
                    <span> {{resource.unit_name}} </span>
                    <i ng-if="currency === 'pound'">£</i><i ng-if="currency === 'dolar'">$</i><i ng-if="currency === 'euro'">€</i>
                    <span> {{resource.total_cost | number: 2}} </span>
                </div>
                <ion-option-button class="button-assertive" ng-click="deleteElement(resourceField.resources, resource)" ng-if="filter.edit">
                    Delete
                </ion-option-button>
            </ion-item>
        </ion-list>

        <div class="item item-total" ng-if="resourceField.financial_option">
            Total
            <div>
                <i ng-if="currency">
                    <i ng-if="currency === 'pound'">£</i><i ng-if="currency === 'dolar'">$</i><i ng-if="currency === 'euro'">€</i>
                </i>
                {{resourceField.total_cost | number: 2}}
            </div>
        </div>
    </form>
</div>
<div class="list" ng-if="filter.substate">
    <div class="formTitle">
        <div class="header-prj-text"> Design: {{formData.name}}</div>
        <div class="blue-label">{{formData.code}}</div>
    </div>
    <form class="form-container-bgd">
        <div style="position: relative; margin-bottom:5px">
            <div class="item-stable item fs all-field-header isOpen" style="width:100%">
                <div class="fieldSet-name" ng-if="filter.substate.name">{{filter.substate.name}}</div>
                <div class="fieldSet-name" ng-if="!filter.substate.name">Resource field</div>
            </div>
            <div class="blue-dropArrow"></div>
            <div class="formContent">
                <div class="calm-border" ng-if="resourceField.date_option">
                    <label class="item item-input item-stacked-label calm-border datetime-picker" ion-datetime-picker date ng-model="filter.substate.current_day_obj" ng-if="filter.edit" month-step="1" hour-step="1" minute-step="1" second-step="1">
                        <div class="inputLabel pp-pad-10">
                            <span class="all-name">Date</span>
                        </div>
                        <div style="padding-left: 15px;padding-right: 15px;border-top-left-radius: 0px;border-top-right-radius: 0px;overflow: hidden;height: 46px;padding-top: 12px;font-size: 14px;color: #000;background-color: #fff;">
                            {{filter.substate.current_day_obj | date: "yyyy-MM-dd"}}
                        </div>
                    </label>
                    <label class="item item-input item-stacked-label calm-border" ng-model="filter.substate.current_day_obj" ng-if="!filter.edit">
                        <div class="inputLabel pp-pad-10">
                            <span class="all-name">Date</span>
                        </div>
                        <div style="padding-left: 15px;padding-right: 15px;border-top-left-radius: 0px;border-top-right-radius: 0px;overflow: hidden;height: 46px;padding-top: 12px;font-size: 14px;color: #000;background-color: #fff;">
                            {{filter.substate.current_day_obj | date: "yyyy-MM-dd"}}
                        </div>
                    </label>
                </div>
                <div class="calm-border">
                    <div class="item item-input item-stacked-label calm-border">
                        <div class="inputLabel pp-pad-10">
                            <span class="all-name">Name</span>
                        </div>
                        <div style="position: relative">
                            <input ng-change="updateTitle(filter.substate.name, 'Resource')" class="pp-input" ng-model="filter.substate.name" ng-readonly="!filter.edit">
                            <span ng-if="filter.edit" class="ion ion-folder" ng-click="openPopover($event, filter.substate, 'resource');
                                $event.stopPropagation();" style="position: absolute;top: 0px;right: 0px;font-size: 26px;color: #31475a; padding: 10px 10px 10px 15px;"></span>
                        </div>
                    </div>
                </div>
                <div class="calm-border">
                    <label class="item item-input item-stacked-label calm-border">
                        <div class="inputLabel pp-pad-10">
                            <span class="all-name">Product ref</span>
                        </div>
                        <input class="pp-input" ng-model="filter.substate.product_ref" ng-readonly="!filter.edit">
                    </label>
                </div>
                <div class="calm-border">
                    <label class="item item-input item-stacked-label calm-border">
                        <div class="inputLabel pp-pad-10">
                            <span class="all-name">Unit</span>
                        </div>
                        <select class="form-select" ng-options="option as option.name for option in unit_list track by option.id" ng-model="filter.substate.unit_obj" ng-disabled="!filter.edit"></select>
                    </label>
                </div>
                <div class="calm-border">
                    <label class="item item-input item-stacked-label calm-border">
                        <div class="inputLabel pp-pad-10">
                            <span class="all-name">Resource type</span>
                        </div>
                        <select class="form-select" ng-options="option as option.name for option in resource_type_list track by option.id" ng-model="filter.substate.res_type_obj" ng-disabled="!filter.edit"></select>
                    </label>
                </div>
                <div class="calm-border">
                    <label class="item item-input item-stacked-label calm-border">
                        <div class="inputLabel pp-pad-10">
                            <span class="all-name">Quantity</span>
                        </div>
                        <input class="pp-input" type="number" ng-model="filter.substate.quantity" ng-readonly="!filter.edit">
                    </label>
                </div>
                <div class="calm-border" ng-if="resourceField.financial_option">
                    <label class="item item-input item-stacked-label calm-border">
                        <div class="inputLabel pp-pad-10">
                            <span class="all-name">Direct cost</span>
                        </div>
                        <input class="pp-input" type="number" ng-model="filter.substate.direct_cost" ng-readonly="!filter.edit">
                    </label>
                </div>


                <div class="calm-border">
                    <label class="item item-input item-stacked-label calm-border">
                        <div class="inputLabel pp-pad-10">
                            <span class="all-name">Resource Margin (%)</span>
                        </div>
                        <input class="pp-input" type="number" ng-model="filter.substate.resource_margin" ng-readonly="!filter.edit">
                    </label>
                </div>
                <div class="calm-border">
                    <label class="item item-input item-stacked-label calm-border">
                        <div class="inputLabel pp-pad-10">
                            <span class="all-name">Project Margin (%)</span>
                        </div>
                        <input class="pp-input" type="number" ng-model="$root.proj_margin" ng-readonly="!filter.edit">
                    </label>
                </div>

                <div class="calm-border">
                    <label class="item item-input item-stacked-label calm-border">
                        <div class="inputLabel pp-pad-10">
                            <span class="all-name">VAT/Tax (%)</span>
                        </div>
                        <input class="pp-input" type="number" ng-model="filter.substate.vat" ng-readonly="!filter.edit">
                    </label>
                </div>
            </div>
        </div>
    </form>
</div>
