<div class="list" ng-if="!filter.substate && !filter.substateStk && !filter.substateRes && !filter.substateStkRes">
    <form class="form-new-fields">
        <ion-list show-delete="data.showDelete">
            <ion-item ng-repeat="payitem in payitemField.pay_items" item="resource" class="item-remove-animate" ng-click="goState('scheduling', payitem)">
                <span class="badge" style="float:left;position:static;margin-right: 5px;margin-left: -10px;background-color: #11C1F3;color:#fff">{{$index + 1}}</span>
                <span ng-if="!payitem.description">Scheduling {{$index + 1}}</span>
                <span ng-if="payitem.description">{{payitem.description}}</span>
                <div class="item-subtotal">
                    <i ng-if="currency === 'pound'">£</i><i ng-if="currency === 'dolar'">$</i><i ng-if="currency === 'euro'">€</i> {{payitem.total_cost  | number: 2}}
                </div>
                <ion-option-button class="button-assertive" ng-click="deleteElement(payitemField.pay_items, payitem)" ng-if="filter.edit">
                    Delete
                </ion-option-button>
            </ion-item>
        </ion-list>
    </form>
</div>
<div class="list" ng-if="filter.substate && !filter.substateStk && !filter.substateRes && !filter.substateStkRes">
    <div class="formTitle">
        <div class="header-prj-text"> Design: {{formData.name}}</div>
        <div class="blue-label">{{formData.code}}</div>
    </div>
    <form class="form-container-bgd">
        <div style="position: relative; margin-bottom:5px">
            <div class="item-stable item fs all-field-header isOpen" style="width:100%">
                <div class="fieldSet-name" ng-if="filter.substate.name">{{filter.substate.name}}</div>
                <div class="fieldSet-name" ng-if="!filter.substate.name">Scheduling field</div>
            </div>
            <div class="blue-dropArrow"></div>
            <div class="formContent">
                <div class="calm-border">
                    <label class="item item-input item-stacked-label calm-border">
                        <div class="inputLabel pp-pad-10">
                            <span class="all-name">Description</span>
                        </div>
                        <input ng-change="updateTitle(filter.substate.description, 'Scheduling')" class="pp-input" ng-model="filter.substate.description" ng-readonly="!filter.edit">
                    </label>
                </div>
                <div class="item item-input item-stacked-label calm-border">
                    <div class="inputLabel pp-pad-10">
                        <span class="all-name">Reference</span>
                    </div>
                    <div style="position: relative">
                        <input class="pp-input" ng-model="filter.substate.reference" ng-readonly="!filter.edit">
                        <!-- <span ng-if="filter.edit" class="ion ion-folder" ng-click="openPopover($event, filter.substate, 'pi');
                            $event.stopPropagation();" style="position: absolute;top: 0px;right: 0px;font-size: 26px;color: #31475a; padding: 10px 10px 10px 15px;"></span> -->
                    </div>
                </div>
                <div class="calm-border">
                    <label class="item item-input item-stacked-label calm-border">
                        <div class="inputLabel pp-pad-10">
                            <span class="all-name">Unit</span>
                        </div>
                        <select class="form-select" ng-options="option as option.name for option in unit_list track by option.id" ng-model="filter.substate.unit_obj" ng-disabled="!filter.edit"></select>
                    </label>
                </div>
                <div class="calm-border">
                    <label class="item item-input item-stacked-label calm-border">
                        <div class="inputLabel pp-pad-10">
                            <span class="all-name">Quantity</span>
                        </div>
                        <input type="number" class="pp-input" ng-model="filter.substate.quantity" ng-readonly="!filter.edit">
                    </label>
                </div>
                <div class="form-new-fields" style="margin-top:10px;">
                    <ion-list show-delete="data.showDelete" ng-if="filter.substate.subtasks.length !== 0">
                        <ion-item ng-repeat="stk in filter.substate.subtasks" item="stk" class="item-remove-animate" ng-click="goStateDown('scheduling', 'subtask', stk)">
                            <span class="badge" style="float:left;position:static;margin-right: 5px;margin-left: -10px;background-color: #287BA7;color:#fff">{{$index + 1}}</span>
                            <span ng-if="!stk.description">Subtask {{$index + 1}}</span>
                            <span ng-if="stk.description">{{stk.description}}</span>
                            <div class="item-subtotal">
                                <i ng-if="currency === 'pound'">£</i><i ng-if="currency === 'dolar'">$</i><i ng-if="currency === 'euro'">€</i> {{stk.total_cost | number: 2}}
                            </div>
                            <ion-option-button class="button-assertive" ng-click="deleteElement(filter.substate.subtasks, stk)" ng-if="filter.edit">
                                Delete
                            </ion-option-button>
                        </ion-item>
                    </ion-list>
                    <ion-list show-delete="data.showDelete" ng-if="filter.substate.resources.length !== 0">
                        <ion-item ng-repeat="res in filter.substate.resources" item="resource" class="item-remove-animate" ng-click="goStateDown('scheduling', 'res', res)">
                            <span class="badge" style="float:left;position:static;margin-right: 5px;margin-left: -10px;background-color: #287BA7;color:#fff">{{$index + 1}}</span>
                            <span ng-if="!res.name">Resource {{$index + 1}}</span>
                            <span ng-if="res.name">{{res.name}}</span>

                            <div class="item-subtotal">
                                <span> {{res.quantity}} </span>
                                <span> {{res.unit_name}} </span>
                                <i ng-if="currency === 'pound'">£</i><i ng-if="currency === 'dolar'">$</i><i ng-if="currency === 'euro'">€</i>
                                <span> {{res.total_cost | number: 2}} </span>
                            </div>

                            <ion-option-button class="button-assertive" ng-click="deleteElement(filter.substate.resources, res)" ng-if="filter.edit">
                                Delete
                            </ion-option-button>
                        </ion-item>
                    </ion-list>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="list" ng-if="filter.substate && filter.substateStk && !filter.substateRes && !filter.substateStkRes">
    <div class="formTitle">
        <div class="header-prj-text"> Design: {{formData.name}}</div>
        <div class="blue-label">{{formData.code}}</div>
    </div>
    <form class="form-container-bgd">
        <div style="position: relative; margin-bottom:5px">
            <div class="item-stable item fs all-field-header isOpen" style="width:100%;background-color: #287BA7 !important;border-color: #287BA7 !important;">
                <div class="fieldSet-name" ng-if="filter.substate.name">{{filter.substate.name}}</div>
                <div class="fieldSet-name" ng-if="!filter.substate.name">Scheduling Subtask</div>
            </div>
            <div class="blue-dropArrow" style="border-color: #287BA7 transparent transparent transparent;"></div>
            <div class="formContent">
                <div class="calm-border">
                    <label class="item item-input item-stacked-label calm-border">
                        <div class="inputLabel pp-pad-10">
                            <span class="all-name">Description</span>
                        </div>
                        <input ng-change="updateTitle(filter.substateStk.description, 'Scheduling Subtask')" class="pp-input" ng-model="filter.substateStk.description" ng-readonly="!filter.edit">
                    </label>
                </div>
                <div class="form-new-fields" ng-if="filter.substateStk.resources.length !== 0" style="margin-top:10px;">
                    <ion-list show-delete="data.showDelete">
                        <ion-item ng-repeat="stkres in filter.substateStk.resources" item="stkres" class="item-remove-animate" ng-click="goStateDown('scheduling', 'subres', stkres)">
                            <span class="badge" class="pp-label-resource">{{$index + 1}}</span>
                            <span ng-if="!stkres.name">Resource {{$index + 1}}</span>
                            <span ng-if="stkres.name">{{stkres.name}}</span>
                            <div class="item-subtotal">
                                <span> {{stkres.quantity}} </span>
                                <span> {{stkres.unit_name}} </span>
                                <i ng-if="currency === 'pound'">£</i><i ng-if="currency === 'dolar'">$</i><i ng-if="currency === 'euro'">€</i>
                                <span> {{stkres.total_cost | number: 2}} </span>
                            </div>
                            <ion-option-button class="button-assertive" ng-click="deleteElement(filter.substateStk.resources, stkres)" ng-if="filter.edit">
                                Delete
                            </ion-option-button>
                        </ion-item>
                    </ion-list>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="list" ng-if="filter.substate && filter.substateStk && !filter.substateRes && filter.substateStkRes">
    <div class="formTitle">
        <div class="header-prj-text"> Design: {{formData.name}}</div>
        <div class="blue-label">{{formData.code}}</div>
    </div>
    <form class="form-container-bgd">
        <div style="position: relative; margin-bottom:5px">
            <div class="item-stable item fs all-field-header isOpen" style="width:100%;background-color: #ed9100!important;border-color: #ed9100!important;">
                <div class="fieldSet-name" ng-if="filter.substate.name">{{filter.substate.name}}</div>
                <div class="fieldSet-name" ng-if="!filter.substate.name">Scheduling Subtask Resource</div>
            </div>
            <div class="blue-dropArrow" style="border-color: #ed9100 transparent transparent transparent;"></div>
            <div class="formContent">
                <div class="calm-border">
                    <div class="item item-input item-stacked-label calm-border">
                        <div class="inputLabel pp-pad-10">
                            <span class="all-name">Name</span>
                        </div>
                        <div style="position: relative">
                            <input ng-change="updateTitle(filter.substateStkRes.name, 'Scheduling Subtask Resource')" class="pp-input" ng-model="filter.substateStkRes.name" ng-readonly="!filter.edit">
                            <span ng-if="filter.edit" class="ion ion-folder" ng-click="openPopover($event, filter.substateStkRes, 'resource');
                                $event.stopPropagation();" style="position: absolute;top: 0px;right: 0px;font-size: 26px;color: #31475a; padding: 10px 10px 10px 15px;"></span>
                        </div>
                        <!--<input class="pp-input" ng-model="filter.substateStkRes.name" ng-disabled="!filter.edit">-->
                    </div>
                    <label class="item item-input item-stacked-label calm-border">
                        <div class="inputLabel pp-pad-10">
                            <span class="all-name">Product ref</span>
                        </div>
                        <input class="pp-input" ng-model="filter.substateStkRes.product_ref" ng-readonly="!filter.edit">
                    </label>
                    <label class="item item-input item-stacked-label calm-border">
                        <div class="inputLabel pp-pad-10">
                            <span class="all-name">Resource type</span>
                        </div>
                        <select class="form-select" ng-options="option as option.name for option in resource_type_list track by option.id" ng-model="filter.substateStkRes.res_type_obj"  ng-disabled="!filter.edit"></select>
                    </label>
                    <label class="item item-input item-stacked-label calm-border">
                        <div class="inputLabel pp-pad-10">
                            <span class="all-name">Unit</span>
                        </div>
                        <select class="form-select" ng-options="option as option.name for option in unit_list track by option.id" ng-model="filter.substateStkRes.unit_obj" ng-disabled="!filter.edit"></select>
                    </label>
                    <label class="item item-input item-stacked-label calm-border">
                        <div class="inputLabel pp-pad-10">
                            <span class="all-name">Quantity</span>
                        </div>
                        <input class="pp-input" type="number" ng-model="filter.substateStkRes.quantity" ng-readonly="!filter.edit">
                    </label>
                    <label class="item item-input item-stacked-label calm-border">
                        <div class="inputLabel pp-pad-10">
                            <span class="all-name">Direct cost</span>
                        </div>
                        <input class="pp-input" type="number" ng-model="filter.substateStkRes.direct_cost" ng-readonly="!filter.edit">
                    </label>
                    <label class="item item-input item-stacked-label calm-border">
                        <div class="inputLabel pp-pad-10">
                            <span class="all-name">Resource Margin (%)</span>
                        </div>
                        <input class="pp-input" type="number" ng-model="filter.substateStkRes.resource_margin" ng-readonly="!filter.edit">
                    </label>
                    <label class="item item-input item-stacked-label calm-border">
                        <div class="inputLabel pp-pad-10">
                            <span class="all-name">Project Margin (%)</span>
                        </div>
                        <input class="pp-input" type="number" ng-model="$root.proj_margin" ng-readonly="!filter.edit">
                    </label>
                    <label class="item item-input item-stacked-label calm-border">
                        <div class="inputLabel pp-pad-10">
                            <span class="all-name">VAT/Tax (%)</span>
                        </div>
                        <input class="pp-input" type="number" ng-model="filter.substateStkRes.vat" ng-readonly="!filter.edit">
                    </label>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="list" ng-if="filter.substate && !filter.substateStk && filter.substateRes && !filter.substateStkRes">
    <div class="formTitle">
        <div class="header-prj-text"> Design: {{formData.name}}</div>
        <div class="blue-label">{{formData.code}}</div>
    </div>
    <form class="form-container-bgd">
        <div style="position: relative; margin-bottom:5px">
            <div class="item-stable item fs all-field-header isOpen" style="width:100%;background-color: #287BA7!important;border-color: #287BA7!important;">
                <div class="fieldSet-name" ng-if="filter.substate.name">{{filter.substate.name}}</div>
                <div class="fieldSet-name" ng-if="!filter.substate.name">Scheduling Resource</span>
                </div>
            </div>
            <div class="blue-dropArrow" style="    border-color: #287BA7 transparent transparent transparent;"></div>
            <div class="formContent">
                <div class="calm-border">
                    <div class="item item-input item-stacked-label calm-border">
                        <div class="inputLabel pp-pad-10">
                            <span class="all-name">Name</span>
                        </div>
                        <div style="position: relative">
                            <input ng-change="updateTitle(filter.substateRes.name, 'Scheduling Resource')" class="pp-input" ng-model="filter.substateRes.name" ng-readonly="!filter.edit">
                            <span ng-if="filter.edit" class="ion ion-folder" ng-click="openPopover($event, filter.substateRes, 'resource');
                                $event.stopPropagation();" style="position: absolute;top: 0px;right: 0px;font-size: 26px;color: #31475a; padding: 10px 10px 10px 15px;"></span>
                        </div>
                    </div>
                    <label class="item item-input item-stacked-label calm-border">
                        <div class="inputLabel pp-pad-10">
                            <span class="all-name">Product ref</span>
                        </div>
                        <input class="pp-input" ng-model="filter.substateRes.product_ref" ng-readonly="!filter.edit">
                    </label>
                    <label class="item item-input item-stacked-label calm-border">
                        <div class="inputLabel pp-pad-10">
                            <span class="all-name">Resource type</span>
                        </div>
                        <select class="form-select" ng-options="option as option.name for option in resource_type_list track by option.id" ng-model="filter.substateRes.res_type_obj" ng-disabled="!filter.edit"></select>
                    </label>
                    <label class="item item-input item-stacked-label calm-border">
                        <div class="inputLabel pp-pad-10">
                            <span class="all-name">Unit</span>
                        </div>
                        <select class="form-select" ng-options="option as option.name for option in unit_list track by option.id" ng-model="filter.substateRes.unit_obj" ng-disabled="!filter.edit"></select>
                    </label>
                    <label class="item item-input item-stacked-label calm-border">
                        <div class="inputLabel pp-pad-10">
                            <span class="all-name">Quantity</span>
                        </div>
                        <input class="pp-input" type="number" ng-model="filter.substateRes.quantity" ng-readonly="!filter.edit">
                    </label>
                    <label class="item item-input item-stacked-label calm-border">
                        <div class="inputLabel pp-pad-10">
                            <span class="all-name">Direct cost</span>
                        </div>
                        <input class="pp-input" type="number" ng-model="filter.substateRes.direct_cost" ng-readonly="!filter.edit">
                    </label>
                    <label class="item item-input item-stacked-label calm-border">
                        <div class="inputLabel pp-pad-10">
                            <span class="all-name">Resource Margin (%)</span>
                        </div>
                        <input class="pp-input" type="number" ng-model="filter.substateRes.resource_margin" ng-readonly="!filter.edit">
                    </label>
                    <label class="item item-input item-stacked-label calm-border">
                        <div class="inputLabel pp-pad-10">
                            <span class="all-name">Project Margin (%)</span>
                        </div>
                        <input class="pp-input" type="number" ng-model="$root.proj_margin" ng-readonly="!filter.edit">
                    </label>
                    <label class="item item-input item-stacked-label calm-border">
                        <div class="inputLabel pp-pad-10">
                            <span class="all-name">VAT/Tax (%)</span>
                        </div>
                        <input class="pp-input" type="number" ng-model="filter.substateRes.vat" ng-readonly="!filter.edit">
                    </label>
                </div>
            </div>
        </div>
    </form>
</div>
