<div class="list" ng-if="!filter.substate">
    <form class="form-new-fields">
        <ion-list show-delete="data.showDelete">
            <ion-item ng-repeat="resource in staffField.resources" item="resource" class="item-remove-animate" ng-click="goState('staff', resource)">
                <span class="badge" style="float:left;position:static;margin-right: 5px;margin-left: -10px;background-color: #11C1F3;color:#fff">{{$index + 1}}</span>
                <span ng-if="!resource.name">Staff {{$index + 1}}</span>
                <span ng-if="resource.name">{{resource.name}}</span>
                <ion-option-button class="button-assertive" ng-click="deleteElement(staffField.resources, resource)" ng-if="filter.edit">
                    Delete
                </ion-option-button>
            </ion-item>
        </ion-list>

    </form>
</div>
<div class="list" ng-if="filter.substate">
    <div class="formTitle">
        <div class="header-prj-text"> Design: {{formData.name}}</div>
        <div class="blue-label">{{formData.code}}</div>
    </div>
    <form class="form-container-bgd">
        <div style="position: relative; margin-bottom:5px">
            <div class="item-stable item fs all-field-header isOpen" style="width:100%">
                <div class="fieldSet-name" ng-if="filter.substate.name">{{filter.substate.name}}</div>
                <div class="fieldSet-name" ng-if="!filter.substate.name">Staff field</div>
            </div>
            <div class="blue-dropArrow"></div>
            <div class="formContent">
                <div class="calm-border">
                    <div class="item item-input item-stacked-label calm-border">
                        <div class="inputLabel" style="padding-top: 10px;">
                            <span class="all-name">Name</span>
                        </div>
                        <div style="position: relative">
                            <input ng-change="updateTitle(filter.substate.name, 'Staff')" style="padding-left:15px; padding-right:15px;border-top-left-radius: 0px; border-top-right-radius: 0px;" ng-model="filter.substate.name" ng-readonly="!filter.edit">
                            <span ng-if="filter.edit" class="ion ion-folder" ng-click="openPopover($event, filter.substate, 'staff');
                                $event.stopPropagation();" style="position: absolute;top: 0px;right: 0px;font-size: 26px;color: #31475a; padding: 10px 10px 10px 15px;"></span>
                        </div>
                        <!--<input style="padding-left:15px; padding-right:15px;border-top-left-radius: 0px; border-top-right-radius: 0px;" ng-model="filter.substate.name" ng-readonly="!filter.edit">-->
                    </div>

                </div>
                <div class="calm-border">
                    <label class="item item-input item-stacked-label calm-border">
                        <div class="inputLabel" style="padding-top: 10px;">
                            <span class="all-name">Employer</span>
                        </div>
                        <input style="padding-left:15px; padding-right:15px;border-top-left-radius: 0px; border-top-right-radius: 0px;" ng-model="filter.substate.employer_name" ng-readonly="!filter.edit">
                    </label>
                </div>
                <div class="calm-border">
                    <label class="item item-input item-stacked-label calm-border">
                        <div class="inputLabel" style="padding-top: 10px;">
                            <span class="all-name">Role</span>
                        </div>
                        <input style="padding-left:15px; padding-right:15px;border-top-left-radius: 0px; border-top-right-radius: 0px;" ng-model="filter.substate.staff_role" ng-readonly="!filter.edit">
                    </label>
                </div>
                <div class="calm-border">
                    <label class="item item-input item-stacked-label calm-border">
                        <div class="inputLabel" style="padding-top: 10px;">
                            <span class="all-name">Resource type</span>
                        </div>
                        <select class="form-select" ng-options="option as option.name for option in resource_type_list track by option.id" ng-model="filter.substate.res_type_obj" ng-disabled="!filter.edit"></select>
                    </label>
                </div>
                <div class="calm-border">
                    <label class="item item-input item-stacked-label calm-border">
                        <div class="inputLabel" style="padding-top: 10px;">
                            <span class="all-name">Absenteeism reason</span>
                        </div>
                        <select class="form-select" ng-options="option as option.reason for option in abs_list track by option.id" ng-model="filter.substate.absenteeism_obj" ng-disabled="!filter.edit"></select>
                    </label>
                </div>
                <div class="calm-border">
                    <label class="item item-input item-stacked-label calm-border datetime-picker" ion-datetime-picker date ng-model="filter.substate.current_day_obj" ng-if="filter.edit" month-step="1" hour-step="1" minute-step="1" second-step="1">
                        <div class="inputLabel" style="padding-top: 10px;">
                            <span class="all-name">Date</span>
                        </div>
                        <div style="padding-left: 15px;padding-right: 15px;border-top-left-radius: 0px;border-top-right-radius: 0px;overflow: hidden;height: 46px;padding-top: 12px;font-size: 14px;color: #000;background-color: #fff;">
                            {{filter.substate.current_day_obj| date: "dd-MM-yyyy"}}
                        </div>
                    </label>
                    <label class="item item-input item-stacked-label calm-border" ng-model="filter.substate.current_day_obj" ng-if="!filter.edit">
                        <div class="inputLabel" style="padding-top: 10px;">
                            <span class="all-name">Date</span>
                        </div>
                        <div style="padding-left: 15px;padding-right: 15px;border-top-left-radius: 0px;border-top-right-radius: 0px;overflow: hidden;height: 46px;padding-top: 12px;font-size: 14px;color: #000;background-color: #fff;">
                            {{filter.substate.current_day_obj| date: "dd-MM-yyyy"}}
                        </div>
                    </label>
                </div>
                <div class="calm-border" ng-if="staffField.withTimes && filter.edit">
                    <label class="item item-input item-stacked-label calm-border datetime-picker" ion-datetime-picker time ng-model="filter.substate.start_time" month-step="1" hour-step="1" minute-step="1" second-step="1">
                        <div class="inputLabel" style="padding-top: 10px;">
                            <span class="all-name">Start</span>
                        </div>
                        <div style="padding-left: 15px;padding-right: 15px;border-top-left-radius: 0px;border-top-right-radius: 0px;overflow: hidden;height: 46px;padding-top: 12px;font-size: 14px;color: #000;background-color: #fff;">
                            {{filter.substate.start_time| date: "H:mm"}}
                        </div>
                    </label>
                </div>
                <div class="calm-border" ng-if="staffField.withTimes && !filter.edit">
                    <label class="item item-input item-stacked-label calm-border datetime-picker" ion-datetime-picker time ng-model="filter.substate.start_time" month-step="1" hour-step="1" minute-step="1" second-step="1">
                        <div class="inputLabel" style="padding-top: 10px;">
                            <span class="all-name">Start</span>
                        </div>
                        <div style="padding-left: 15px;padding-right: 15px;border-top-left-radius: 0px;border-top-right-radius: 0px;overflow: hidden;height: 46px;padding-top: 12px;font-size: 14px;color: #000;background-color: #fff;">
                            {{filter.substate.start_time| date: "H:mm"}}
                        </div>
                    </label>
                </div>
                <div class="calm-border" ng-if="staffField.withTimes && filter.edit" ng-model="filter.substate.break_time">
                    <label class="item item-input item-stacked-label calm-border datetime-picker" ion-datetime-picker time ng-model="filter.substate.break_time" month-step="1" hour-step="1" minute-step="1" second-step="1">
                        <div class="inputLabel" style="padding-top: 10px;">
                            <span class="all-name">Break</span>
                        </div>
                        <div style="padding-left: 15px;padding-right: 15px;border-top-left-radius: 0px;border-top-right-radius: 0px;overflow: hidden;height: 46px;padding-top: 12px;font-size: 14px;color: #000;background-color: #fff;">
                            {{filter.substate.break_time| date: "H:mm"}}
                        </div>
                    </label>
                </div>
                <div class="calm-border" ng-if="staffField.withTimes && !filter.edit">
                    <label class="item item-input item-stacked-label calm-border datetime-picker" ion-datetime-picker time ng-model="filter.substate.break_time" month-step="1" hour-step="1" minute-step="1" second-step="1">
                        <div class="inputLabel" style="padding-top: 10px;">
                            <span class="all-name">Break</span>
                        </div>
                        <div style="padding-left: 15px;padding-right: 15px;border-top-left-radius: 0px;border-top-right-radius: 0px;overflow: hidden;height: 46px;padding-top: 12px;font-size: 14px;color: #000;background-color: #fff;">
                            {{filter.substate.break_time| date: "H:mm"}}
                        </div>
                    </label>
                </div>
                <div class="calm-border"   ng-if="staffField.withTimes && filter.edit">
                    <label class="item item-input item-stacked-label calm-border datetime-picker" ion-datetime-picker time ng-model="filter.substate.finish_time" month-step="1" hour-step="1" minute-step="1" second-step="1">
                        <div class="inputLabel" style="padding-top: 10px;">
                            <span class="all-name">End</span>
                        </div>
                        <div style="padding-left: 15px;padding-right: 15px;border-top-left-radius: 0px;border-top-right-radius: 0px;overflow: hidden;height: 46px;padding-top: 12px;font-size: 14px;color: #000;background-color: #fff;">
                            {{filter.substate.finish_time| date: "H:mm"}}
                        </div>
                    </label>
                </div>
                <div class="calm-border"  ng-model="filter.substate.finish_time" ng-if="staffField.withTimes && !filter.edit">
                    <label class="item item-input item-stacked-label calm-border">
                        <div class="inputLabel" style="padding-top: 10px;">
                            <span class="all-name">End</span>
                        </div>
                        <div style="padding-left: 15px;padding-right: 15px;border-top-left-radius: 0px;border-top-right-radius: 0px;overflow: hidden;height: 46px;padding-top: 12px;font-size: 14px;color: #000;background-color: #fff;">
                            {{filter.substate.finish_time| date: "H:mm"}}
                        </div>
                    </label>
                </div>
                <div class="calm-border">
                    <label class="item item-input item-stacked-label calm-border">
                        <div class="inputLabel" style="padding-top: 10px;">
                            <span class="all-name">Comments</span>
                        </div>
                        <textarea  ng-auto-expand style="padding-left:15px; padding-right:15px;border-top-left-radius: 0px; border-top-right-radius: 0px;" ng-model="filter.substate.comment" ng-readonly="!filter.edit"></textarea>
                    </label>
                </div>
                <div class="calm-border" ng-if="staffField.withTimes">
                    <label class="item item-input item-stacked-label calm-border">
                        <div class="inputLabel" style="padding-top: 10px;">
                            <span class="all-name">Direct cost</span>
                        </div>
                        <input style="padding-left:15px; padding-right:15px;border-top-left-radius: 0px; border-top-right-radius: 0px;" type="number" ng-model="filter.substate.direct_cost" ng-readonly="!filter.edit" >
                    </label>
                </div>
            </div>
        </div>
    </form>
</div>
