
<label class="item item-input item-stacked-label view-field">
    <div class="grey-label">
        <span class="" ng-if="data.type != 'message'">{{data.name}}</span>
        <span class="description" ng-if="data.type == 'message'">{{data.guidance}}</span>
    </div>
    <ul class="list view-list-field-group">
        <li>
            <span class="white-label"
                  ng-if="data.type == 'checkbox'">{{data.field_values[0].value === 'true' ? 'Yes':'No'}}</span>
            <span class="white-label" ng-if="data.type == 'text'">
                {{data.field_values ? (data.field_values[0].value == "" ? 'empty' : data.field_values[0].value) : '-'}}</span>
            <span class="white-label"
                  ng-if="data.type == 'textarea'">{{data.field_values ? (data.field_values[0].value == "" ? 'empty' : data.field_values[0].value) : '-'}}</span>
            <span class="white-label" ng-if="data.type == 'email'">{{data.field_values ? (data.field_values[0].value == "" ? 'empty' : data.field_values[0].value) : '-'}}</span>
            <span class="white-label" ng-if="data.type == 'number'">{{data.field_values ? (data.field_values[0].value == "" ? 'empty' : data.field_values[0].value) : '-'}}</span>
            <span class="white-label" style="" ng-if="data.type == 'date'">{{data.field_values ? (data.field_values[0].value == "" ? 'empty' : data.field_values[0].value) : '-'}}</span>
            <span class="white-label" style="" ng-if="data.type == 'time'">{{data.field_values ? (data.field_values[0].value == "" ? 'empty' : data.field_values[0].value) : '-'}}</span>
            <span class="white-label" style="" ng-if="data.type == 'radio'">
                <span class="all-checkboxlist-item" ng-repeat="option in data.field_values"
                      ng-if='option.value == "true"'>{{option.name}}</span>
            </span> 
            <span class="white-label" style="" ng-if="data.type == 'select'">
                <span class="all-checkboxlist-item" ng-repeat="option in data.field_values"
                      ng-if='option.value == "true"'>{{option.name ? option.name : 'empty'}}</span>
            </span>
            <span class="white-label" style=""
                  ng-if="data.type == 'signature' && data.field_values[0].value"><img
                    ng-src="{{data.field_values[0].value}}"
                    style="border: 1px solid #D7E0E2;height:200px; padding: 0px calc(50% - 115px);  margin-left: 20px; display: block"></span>
            <span class="white-label" style="" ng-if="data.type == 'checkbox_list'">
                <span class="all-checkboxlist-item" ng-repeat="option in data.field_values"
                      ng-if='option.value == "true"'>{{option.name}}</span>
            </span>
            <!--<span ng-if="data.type != 'checkbox' && data.type!='text' && data.type!='select' && data.type!='signature'">{{data.value[0].value ? data.value[0].value : "-"}}</span>-->
        </li>
    </ul>
</label>
