<ion-view title="About" hide-back-button="true" id="about" cache-view="false">
    <ion-content class=" has-header padding">
        <div class="login-logo">
            <img src="img/logo.png">
        </div>

        <!-- <h4>ProProject</h4> -->

        <p><b>Address:</b><br>
            24 Kelvin Parade,<br>
            Belfast,<br>
            BT14 6NB,<br>
            Northern Ireland,<br>
            United Kingdom<br><br>

            <b>Phone:</b><br>
            <a href="tel:+447746134641">+44 77 461 346 41</a><br><br>

            <b>Email:</b><br>
            <a href="mailto:info@proproject.co.uk">info@proproject.co.uk</a><br><br>

            <b>API Server:</b><br>
            <i>{{server}}</i><br><br>

        </p>
    </ion-content>
</ion-view>