<ion-view title="{{navTitle}}" hide-back-button="true" cache-view="false">
    <ion-content class="has-header" style="background-color: #ECEBEB; padding-top:10vw;">
        <div class="row" >
            <a class="col pp-icon" href="#/app/category/{{projectId}}/{{categories[0].id}}" ui-sref="app.forms({projectId:projectId, categoryId:categories[0].id})">
                <div class="category-item"><span class="category-icon icon-{{categories[0].id}}"></span></div>
                <h2>{{categories[0].name}}</h2>
            </a>
            <a class="col pp-icon" href="#/app/category/{{projectId}}/{{categories[0].id}}"ui-sref="app.forms({projectId:projectId, categoryId:categories[1].id})">
                <div class="category-item"><span class="category-icon icon-{{categories[1].id}}"></span></div>
                <h2>{{categories[1].name}}</h2>
            </a>
        </div>
        <div class="row" style="margin-top: 5vw">
            <a class="col pp-icon" href="#/app/category/{{projectId}}/{{categories[2].id}}" ui-sref="app.forms({projectId:projectId, categoryId:categories[2].id})">
                <div class="category-item"><span class="category-icon icon-{{categories[2].id}}"></span></div>
                <h2>{{categories[2].name}}</h2>
            </a>
            <a class="col pp-icon" href="#/app/category/{{projectId}}/{{categories[3].id}}" ui-sref="app.forms({projectId:projectId, categoryId:categories[3].id})">
                <div class="category-item"><span class="category-icon icon-{{categories[3].id}}"></span></div>
                <h2>{{categories[3].name}}</h2>
            </a>
        </div>
        <div class="row" style="margin-top: 5vw">
            <a class="col pp-icon" href="#/app/category/{{projectId}}/{{categories[4].id}}" ui-sref="app.forms({projectId:projectId, categoryId:categories[4].id})">
                <div class="category-item"><span class="category-icon icon-{{categories[4].id}}"></span></div>
                <h2>{{categories[4].name}}</h2>
            </a>
            <a class="col pp-icon" href="#/app/category/{{projectId}}/{{categories[5].id}}" ui-sref="app.forms({projectId:projectId, categoryId:categories[5].id})">
                <div class="category-item"><span class="category-icon icon-{{categories[5].id}}"></span></div>
                <h2>{{categories[5].name}}</h2>
            </a>
        </div>
    </ion-content>
</ion-view>