<ion-view title="{{navTitle}}" hide-back-button="true" cache-view="false">
    <ion-content class="has-header blue-bgd category-container" ng-class="{fixDisplay: androidOk !== true,showPrjIsOn:showProjects}">
        <header ng-class="{'all-projects': showProjects}" class="choose-prj-bar" ng-click="showProjects = !showProjects">
            <div class="prj-bar-txt">Change project
                <div class="ion-ios-arrow-down choose-arrow"></div>
            </div>
            <div class="invShowPrj" ng-class="{'showPrj':showProjects}" ng-show="showProjects">
                <div class="prj-item prj-item-default">
                    <span class="defaultPrj-name">{{navTitle}}</span>
                    <br>
                    <span class="defaultPrj-id">ID:{{projectId}}</span>
                    <img class="default-check-img" src="img/new/check.png">
                </div>
                <ion-item ng-repeat="project in projects" class="prj-item" href="#/app/categories/{{project.id}}" ng-click="updateTitle(project)">
                    <div class="prj-name">{{project.name}}</div>
                    <div class="prj-id">ID: {{project.id}}</div>
                    <div class="make-default">Make default</div>
                </ion-item>
            </div>
        </header>
        <div class="category-content-abs">
            <div class="category-box" ng-repeat="category in categories track by $index" ng-if="$even">
                <div class="row" ng-class="{'setInvisible':showProjects}">
                    <div class="col col-50 category-col">
                        <a class="col pp-icon" href="#/app/category/{{projectId}}/{{categories[$index].id}}" ui-sref="app.forms({projectId:projectId, categoryId:categories[$index].id})">
                            <div class="center-category">
                                <img ng-src="img/new/{{categories[$index].id}}.png">
                                <h2>{{categories[$index].name}}</h2>
                            </div>
                        </a>
                    </div>
                    <div class="col col-50 category-col">
                        <a class="col pp-icon" href="#/app/category/{{projectId}}/{{categories[$index + 1].id}}" ui-sref="app.forms({projectId:projectId, categoryId:categories[$index + 1].id})">
                            <div class="center-category">
                                <img ng-src="img/new/{{categories[$index + 1].id}}.png">
                                <h2>{{categories[$index + 1].name}}</h2>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
