<ion-view title="{{navTitle}}" hide-back-button="true" cache-view="false">
    <ion-content class="has-header blue-bgd category-container" ng-class="{fixDisplay: androidOk !== true,showPrjIsOn:showProjects}">
        <header ng-class="{'all-projects': showProjects}" class="choose-prj-bar" ng-click="showProjects = !showProjects">
            <div class="prj-bar-txt">Change project
                <div class="ion-ios-arrow-down choose-arrow"></div>
            </div>
            <div class="invShowPrj" ng-class="{'showPrj':showProjects}" ng-show="showProjects">
                <div class="prj-item prj-item-default">
                    <span class="defaultPrj-name">{{navTitle}}</span>
                    <br>
                    <span class="defaultPrj-id">ID:{{projectId}}</span>
                    <img class="default-check-img" src="img/new/check.png">
                </div>
                <ion-item ng-repeat="project in projects" class="prj-item" href="#/app/categories/{{project.id}}" ng-click="updateTitle(project)">
                    <div class="prj-name">{{project.name}}</div>
                    <div class="prj-id">ID: {{project.id}}</div>
                    <div class="make-default">Make default</div>
                </ion-item>
            </div>
        </header>
        <div class="category-content-abs">
            <!-- <div class="category-row" ng-repeat="category in categories" ng-class="{'setInvisible':showProjects}">
                <a class="col pp-icon" href="#/app/category/{{projectId}}/{{category.id}}" ui-sref="app.forms({projectId:projectId, categoryId:category.id})">
                    <div class="center-category">
                        <img ng-src="img/new/{{category.id}}.png">
                        <h2>{{category.name}}</h2>
                    </div>
                </a>
            </div> -->

            <ion-grid>
              <ion-row ng-repeat="category in categories track by $index">
                <span>{{category.name}}</span>
                  <ion-col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 ng-if="$index % 2 == 0">
                      <span>{{category.name}}</span>
                  </ion-col>
                  <ion-col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 ng-if="$index % 2 != 0">
                    <span>{{category.name}}</span>

                  </ion-col>
              </ion-row>
          </ion-grid>

        </div>
    </ion-content>
</ion-view>
