<ion-view title="Test" class="all-view-bg" cache-view="false" ng-class="{'bar-hide': slideHeader, 'bar-helper':slideHeaderHelper}">
    <ion-header-bar class="bar-subheader item-button-left test-item"
                    style=" overflow: hidden; white-space: nowrap; text-overflow: ellipsis;"
                    ui-sref="app.categories({projectId:projectId})">
        {{categoryName}} - completed
        <span class="back-arrow ion-ios-arrow-left"></span>
    </ion-header-bar>
    <ion-content class="has-tabs" scroll-watch>
        <div class="content">
            <div class="list all-itemlist">
                <ion-spinner icon="android" class="all-spinner" ng-hide="isLoaded"></ion-spinner>
                <div class="all-spinner" ng-if="hasData && isLoaded" style="margin-top:50%">
                    <span class="all-ion-text" style="font-size: 15vw; color:#4A6780">{{hasData}}</span>
                </div>
                <ion-refresher on-refresh="refresh()" pulling-text="Pull to refresh..."
                               refreshing-text="Refreshing!" spinner="android"></ion-refresher>
                <div class="list">
                    <ion-list   show-delete="data.showDelete" delegate-handle="complete_list">
                        <ion-item ng-repeat="form in formInstances| orderBy:'-created_on'" item="resource" class="item-remove-padding" style=" padding: 0px;" ng-click="change(form.id)">
                            <div class="form-name ng-binding">{{::form.name}}</div>
                            <div class="form-code ng-binding">{{::getFullCode(form)}}</div>
                            <ion-option-button class="button-assertive" style="background-color: #1EBDF4" ng-click="shareThis(form)">
                                Share
                            </ion-option-button>                
                        </ion-item>
                    </ion-list>
                    <!--                    <a class="item" ng-repeat="form in formInstances| orderBy:'-created_on'"
                                           ng-click="change(form.id)">
                                            <div class="form-name ng-binding">{{::form.name}}</div>
                                            <div class="form-code ng-binding">{{::getFullCode(form)}}</div>
                                        </a>-->
                </div>
            </div>
        </div>
    </ion-content>
    <div class="tabs tabs-calm tabs-icon-only">
        <a class="tab-item" ui-sref="app.forms({projectId:projectId, categoryId:categoryId})">
            <img src="img/new/all forms.png">
        </a>
        <a class="tab-item">
            <img src="img/new/completed forms.png">
        </a>
        <a class="tab-item" ui-sref="app.registers({projectId:projectId, categoryId:categoryId})">
            <img src="img/new/registers.png">
        </a> 
    </div>
</ion-view>