<ion-view title="Form" id="form" cache-view="false">
    <ion-header-bar align-title="left" class="bar-subheader item item-button-left subHeader-form-bar"  ng-click="backHelper()">
        <div class="back-arrow ion-ios-arrow-left"></div>
        <div class="header-prj-text"><span ng-if="filter.state === 'form'">{{formData.category}} - </span>{{titleShow}}</div>
    </ion-header-bar>
    <ion-content class="blue-bgd"  delegate-handle="mainScroll">
        <div class="content">
            <div class="list"  ng-if="filter.state === 'form'">
                <div class="formTitle">
                    <div class="header-prj-text"> Form: {{formData.name}}</div>
                    <div class="blue-label">{{formData.code}}</div>
                </div>
                <form class="form-container-bgd">
                    <ion-list>
                        <div ng-repeat="fieldset in formData.field_group_instances track by $index" fs
                             data="fieldset" style="position: relative; margin-bottom:5px">                            

                            <ion-item  id="{{formData.id}}:{{$index}}"
                                       ng-click="toggleGroup(fieldset, formData.id + ':' + $index)"
                                       ng-class="{active: isGroupShown(group),isOpen:isGroupShown(fieldset)}"
                                       class="item-stable item fs all-field-header" style="width:100%; padding: 0px !important">
                                <span class="fieldSet-name">{{fieldset.name}}</span>
                                <div class="ion-ios-arrow-down choose-arrow"></div>
                                <span class="all-field-description">{{fieldset.guidance}}</span>
                                <ion-option-button class="button-assertive" ng-click="deleteElement(formData.field_group_instances, fieldset)" ng-if="fieldset.repeatable">
                                    Delete
                                </ion-option-button> 
                                <ion-option-button class="button-assertive" ng-click="repeatGroup(fieldset)" ng-if="fieldset.repeatable" style="background-color: #C8F7C5;color: #31475A;">
                                    Repeat
                                </ion-option-button> 
                            </ion-item >
                            <div ng-class="{'blue-dropArrow':shownGroup}"></div>
                            <div class="formContent"
                                 ng-repeat="field in fieldset.field_instances"
                                 style="position: relative" ng-show="isGroupShown(fieldset)">
<!--                                <a class="all-field-repeat" ng-click="repeatField(fieldset, field)"
                                   ng-show="field.repeatable"><span class="icon ion-plus"
                                                                 style="color:#fff"></span> </a>-->

                                <a ng-if="$first" style="padding: 16px 11px 15px;top: 0px;font-size: 20px;" class="all-field-repeat" ng-click="repeatField(fieldset, field)"
                                   ng-show="field.repeatable"><span class="icon ion-plus"></span> </a>
                                <a ng-if="$first" style="padding: 14px 11px 13px;top: 0px;right: 30px;font-size: 24px;" class="all-field-repeat" ng-click="deleteElement(fieldset.field_instances, field)"
                                   ng-show="field.repeatable"><span class="icon ion-trash-b"></span> </a>
                                <a ng-if="!$first" class="all-field-repeat" ng-click="repeatField(fieldset, field)"
                                   ng-show="field.repeatable" style="padding: 8px 11px 8px;top: 0px;font-size: 20px;"><span class="icon ion-plus"></span> </a>
                                <a ng-if="!$first" class="all-field-repeat" ng-click="deleteElement(fieldset.field_instances, field)"
                                   ng-show="field.repeatable" style="padding: 6px 11px 6px;top: 0px;right: 30px;font-size: 24px;"><span class="icon ion-trash-b"></span> </a>
                                <edit data="field"></edit>
                            </div>
                        </div>
                    </ion-list>
                    <div class="item-stable item fs all-field-header" ng-if="formData.resource_field_id" >
                        <span class="add-pic-text">Resource field</span>    
                        <button ng-click="goState('resource')">Open</button>
                    </div>
                    <div class="item-stable item fs all-field-header" ng-if="formData.scheduling_field_id">
                        <span class="add-pic-text">Scheduling field</span>    
                        <button ng-click="goState('scheduling')">Open</button>
                    </div>
                    <div class="item-stable item fs all-field-header" ng-if="formData.pay_item_field_id">
                        <span class="add-pic-text">Pay-item field</span>    
                        <button ng-click="goState('payitem')">Open</button>
                    </div>
                    <div class="item-stable item fs all-field-header" ng-if="formData.staff_field_id">
                        <span class="add-pic-text">Staff field</span>    
                        <button ng-click="goState('staff')">Open</button>
                    </div>
                </form>

                <div class="form-container-bgd">
                    <div id="image-header" class="item-stable item fs all-field-header">
                        <span class="add-pic-text">Add pictures</span>
                        <img ng-click="addPicture()" class="add-pic-icon mr-0" src="img/new/cameraRoll.png">
                        <img ng-click="takePicture()" class="add-pic-icon" src="img/new/takePicture.png">
                        <img ng-click="goPicture()" class="add-pic-icon" src="img/new/gallery.png">
                    </div>
                </div>
                <div class="padding">
                    <button type="submit" ng-click="submit(formData)" ng-disabled="" value="Save"
                            class="button button-block button-calm">Submit
                    </button>
                </div>
                <div class="padding" style="margin-top:-20px">
                    <button type="submit" ng-click="saveAsNew()" ng-disabled="" value="Save"
                            class="button button-block button-calm">Save as new
                    </button>
                </div>
            </div>
            <div class="list" ng-if="filter.state === 'resource'" ng-include="'view/form/_resource.html'"></div>
            <div class="list" ng-if="filter.state === 'staff'" ng-include="'view/form/_staff.html'"></div>
            <div class="list" ng-if="filter.state === 'scheduling'" ng-include="'view/form/_scheduling.html'"></div>
            <div class="list" ng-if="filter.state === 'payitem'" ng-include="'view/form/_payitem.html'"></div>
            <div class="list" ng-if="filter.state === 'photos'" ng-include="'view/form/_photos.html'"></div>
        </div>
    </ion-content>
    <div ng-if="!filter.substateRes && !filter.substateStkRes && filter.state !== 'form' && filter.state !== 'staff' && filter.state !== 'resource' && filter.state !== 'photos' || (!filter.substate && filter.state === 'staff') || (!filter.substate && filter.state === 'resource')" >
        <button class="btn-add-resource" ng-click="addResourcePi()" ng-if="filter.actionBtn && filter.substate.subtasks.length === 0 && filter.substate.resources.length === 0">   
            Add resource
        </button>
        <button class="btn-add-subtask" ng-click="addSubtask()" ng-if="filter.actionBtn && filter.substate.resources.length === 0 && filter.substate.subtasks.length === 0">   
            Add subtask
        </button>
        <button class="btn-add" ng-click="actionBtnPayitem();">   
            <i class="ion-ios-plus-empty"></i>            
        </button>
    </div>
    <div ng-if="filter.state === 'payitem' && (filter.substateRes || filter.substateStkRes)" >       
        <button class="btn-add" ng-click="actionBtnCalculation();" ng-if="filter.substateRes">   
            <i ng-if="!filter.substateRes.calculation" class="ion-ios-calculator-outline" style="font-size: 42px;margin-top: 0px;"></i>            
            <i ng-if="filter.substateRes.calculation" class="ion-ios-calculator" style="font-size: 42px;margin-top: 0px;"></i>            
        </button>
        <button class="btn-add" ng-click="actionBtnCalculation();" ng-if="filter.substateStkRes">   
            <i ng-if="!filter.substateStkRes.calculation" class="ion-ios-calculator-outline" style="font-size: 42px;margin-top: 0px;"></i>            
            <i ng-if="filter.substateStkRes.calculation" class="ion-ios-calculator" style="font-size: 42px;margin-top: 0px;"></i>            
        </button>
    </div>
</ion-view>