<ion-side-menus cache-view="false" drag-content="false" class="custom-menu">
    <ion-side-menu-content>
<!--        <ion-header-bar class="bar-calm">
            <div class="buttons">
                <button class="button icon button-clear ion-navicon"
                        ng-click="toggleLeft($event)"></button>
            </div>
            <h1 class="title">{{navTitle}}</h1>
        </ion-header-bar>-->



        <ion-header-bar class="bar bar-header bar-calm">
            <button class="button button-icon icon ion-navicon" ng-click="toggleLeft($event)"></button>
            <div class="h1 title">{{navTitle}}</div>
        </ion-header-bar>
        <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" class="dark" drag-content="toggledrag">
        <header class="bar bar-header bar-dark">
        </header>
        <ion-content class="has-header dark-bg">
            <ion-item nav-clear menu-close class="dark-bg dark-border" style="color:#fff;    padding-bottom: 0px;">
                <div class="user-circle-img">
                    <img src="img/new/user_default.png">
                </div>
                <div class="menu-name">{{currentUser.role_title}}</div>
                <div class="menu-email">{{currentUser.username}}</div>
            </ion-item>
            <ion-item nav-clear menu-close ng-click="logout()" class="dark-bg menu-item p-10-15" style="color:#fff; border-top: none; padding: 0px;">
                <div class="item item-toggle menu-disconnect">
                    <button class="button button-block button-calm" style="margin-top:5px;height: 30px;min-height: 30px;line-height: 20px;">Logout</button>
                </div>
            </ion-item>


            <ion-item nav-clear menu-close ng-click="sync()" class="dark-bg dark-border menu-item p-10-15"
                      style="color:#fff">
                <img src="img/new/synchronize.png">
                <span>Synchronize</span>
            </ion-item>
            <ion-item nav-clear menu-close ui-sref="app.myaccount" class="dark-bg dark-border menu-item p-10-15"
                      style="color:#fff">
                <img src="img/new/user.png">
                <span>My Account</span>
            </ion-item>
            <ion-item nav-clear menu-close ui-sref="app.shared" class="dark-bg dark-border menu-item p-10-15"
                      style="color:#fff">
                <img src="img/new/sharedDocs.png">
                <span>My shared docs</span>

            </ion-item>
            <ion-item nav-clear menu-close ui-sref="app.about" class="dark-bg dark-border menu-item p-10-15">
                <img src="img/new/about.png">
                <span>About</span>
            </ion-item>
            <ion-item nav-clear menu-close href="" onclick="navigator.app.loadUrl('http://app.preprod.proproject.io/', {openExternal: true});"
                      class="dark-bg dark-border menu-item project-web-link">
                <img src="img/new/onweb.png">
                <span>ProProject on web</span>
            </ion-item>
        </ion-content>
    </ion-side-menu>

</ion-side-menus>

