<ion-view title="About" hide-back-button="true" class="all-view-bg" id="about" cache-view="false">
    <ion-header-bar class="bar-subheader item-button-left test-item" ui-sref="app.categories({projectId:projectId})">
        <span class="back-arrow ion-ios-arrow-left"></span>
        <span class="header-prj-text">My account</span>
    </ion-header-bar>
    <ion-content class=" has-header padding" style="padding-bottom: 60px;">
        <ion-item nav-clear menu-close class="dark-bg" style="color:#fff; border: none">
            <div class="user-circle-img" style="width:150px;height:150px">
                <img src="img/new/user_default.png" style="width: 100%; margin-left: 0px">
            </div>
            <div class="menu-name" style="font-size: 18px;"> {{currentUser.role_title}}</div>
            <div class="menu-name" style="font-size: 18px;">Customer: {{profileHeader.customerName}}</div>
            <div class="menu-email" style="font-size: 18px;"> {{currentUser.username}}</div>
        </ion-item> 
        <label class="item item-input item-stacked-label">
            <span class="input-label">First Name</span>
            <input type="text" placeholder="-" ng-model="profileHeader.first_name">
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Last Name</span>
            <input type="text" placeholder="-" ng-model="profileHeader.last_name">
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Job Title</span>
            <input type="text" placeholder="-" ng-model="profileHeader.job_title">
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Phone</span>
            <input type="text" placeholder="-" ng-model="profileHeader.phone">
        </label>
        <button type="submit" ng-click="saveChanges()"
                class="button button-block button-calm">Save changes
        </button>
    </ion-content>
</ion-view>