<ion-view title="Register" id="register" class="all-view-bg" cache-view="false" ng-class="{'bar-hide': slideHeader, 'bar-helper':slideHeaderHelper}">
    <ion-header-bar class="bar-subheader item-button-left test-item" ui-sref="app.categories({projectId:projectId})">
        Records: <span class="all-header-details">{{formName}}</span>
        <button class="button button-clear  button-calm" >
            <i class="icon ion-chevron-left all-chevron"></i>
        </button>
    </ion-header-bar>
    <ion-content scroll-watch>
        <div class="content" >
            <div  class="list">                       
                <ion-refresher on-refresh="refresh()" pulling-text="Pull to refresh..." refreshing-text="Refreshing!" spinner="android"></ion-refresher>
                <div ng-repeat="reg in parsedData| orderBy:'-date_completed'">
                    <div class="form-item-header">
                        <span>{{num - $index}})&nbsp;{{reg['date_completed']| date:'EEE, dd MMM yyyy hh:mm a'}}</span>
                    </div>
                    <div class="item">
                        <div class="register-value" ng-repeat="label in data.records.names track by $index" style="margin-bottom: 10px">
                            <div ng-if="label != 'instance_id'"><strong>{{label}}</strong></div>
                            <span style="white-space: pre-line; max-width: 90%" ng-if="label != 'date_completed' && reg[label].substring(0, 5) != 'data:'">{{reg[label] ? (reg[label] == "true" ? "Yes" : (reg[label] == "false" ? "No" : (reg[label] == "||NULL||" ? "-" : reg[label]))) : "-"}}</span>
                            <img ng-if="register[label].substring(0, 5) == 'data:'" ng-src="{{reg[label]}}">
                        </div>
                        <div class="register-value">
                            <div><strong>User</strong></div>
                            <span >{{reg.User}}</span>
                        </div>
                        <div class="register-value">
                            <a ng-click="change(reg.instance_id)" class="button button-block button-calm">View Form</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>